--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
transformers
peft
datasets
accelerate
bitsandbytes
scikit-learn
pandas
numpy
yfinance
streamlit
plotly
matplotlib
lxml
requests
polygon-api-client
vaderSentiment
